# Twitch
TWITCH_IRC_TOKEN=oauth:your_twitch_irc_token
TWITCH_IRC_NICK=justinfan1234
TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_ACCESS_TOKEN=your_twitch_access_token
TWITCH_REFRESH_TOKEN=your_twitch_refresh_token

# Database
DB_USER=postgres
DB_PASSWORD=your_db_password

# Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
